*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
    background-color: rgb(38, 62, 90);
}

.App{
    width: 70%;
    max-width: 650px;
    margin: 20px auto;
    background-color: inherit;
    color: #e0dbdb;
}

.nav-bar{
    width: 70%;
    margin: 0 auto;
    margin-top: 25px ;
    background-color: rgba(11, 54, 99, 0.7);
    border-bottom: 2px solid #f4f4f4;
}

.nav-bar h2{
    padding: 15px 25px;
    text-align: center;
    text-decoration: underline;
}

.nav-bar p{
    padding: 10px 20px;
    text-align: center;
}

.to-dos{
    width: 70%;
    margin: 0 auto;
    padding: 20px 10px;
    background-color: rgba(36, 76, 119, 0.7);
}

.to-dos ul{
    list-style: none;
    width: 90%;
    margin: 0 auto;
    padding: 10px 10px;
    background-color: rgba(11, 54, 99, 0.7);
    border-radius: 10px;
}

.to-dos ul li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-left: 3px solid #f4f4f4;
    margin: 10px 0;
}

.to-dos .my-to-do{
    width: 85%;
    line-height: 1.2;
    color: #f3f3f3;
    font-weight: bold;
    background: dodgerblue;
}

.to-dos .buttons{
    width: 17%;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
}

form{
    width: 90%;
    margin: 10px auto;
    border-top: 3px solid #f3f3f3;
    padding: 8px 0;
    background-color: #1b2226;
}

form input{
    display: block;
    margin: 5px 0;
}

form input[type='text']{
    width: 90%;
    padding: 10px;
    margin: 0 auto;
    border-radius: 10px;
    background: rgba(11, 54, 99, 1);
    border: none;
    color: orange;
}

form input[type='time']{
    width: 50%;
    padding: 10px;
    margin: 10px 20px;
    border-radius: 10px;
    background: rgba(11, 54, 99, 1);
    border: none;
    color: orange;
}

form input[type='submit']{
    width: 20%;
    padding: 10px;
    margin: 10px 20px;
    border-radius: 10px;
    background: rgba(11, 54, 99, 1);
    border: none;
    color: orange;
    cursor: pointer;
}